:root {
  --color-border-default: #bdbdbd;
  --color-border-focus: #3b71ca;
  --color-text-primary: #4f4f4f;
  --color-background-default: #fff;
  --color-background-hover: #f3f3f3;
  --color-background-selected-hover: #E9E9E9;
  --color-background-selected: #dcf2ff;
  --color-text-secondary: #332d2d;
  --color-scrollbar-thumb: #999;
}
