@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap';

:root {
  --font-family: "Roboto", sans-serif;
  --line-height-base: 160%;
  --font-weight-regular: 400;
  --font-size-base: 16px;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizespeed;
  letter-spacing: 0.1px;
}
