.selectContainer {
    position: relative;

    width: 352px;

    font-family: Roboto, sans-serif;

    border-radius: 4px;
    outline: 1px solid var(--color-border-default);
}

.selectInput {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 36px;
    padding: 5px 12px;

    color: var(--color-text-primary);
}

.selectContainer:focus-within {
    outline: 2px solid var(--color-border-focus);
}

.selectInput input {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
}


.icon {
    transition: transform 0.2s ease-in-out;
}

.iconOpen {
    transform: rotate(180deg);
    color: var(--color-border-focus);
}

